body{
    background-color: rgba(218, 214, 198, 0.685);
}

.form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    left: 35%;
    top: 25%;
    background-color: white;
    color: rgb(56, 117, 230);
    border: white 3px solid;
    padding: 10px 20px;
    border-radius: 20px;
}
.h{
    font-size: 30px;
    font: bold;
    color: brown;
}
.form:hover{
    border-color: aqua;
}
